# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log


# Bytecode & compiled files
*.so
*.egg
*.egg-info/
dist/
build/


# Virtual environments
venv/
env/
.myenv/
myenv/


# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.cache/


# Jupyter
.ipynb_checkpoints/


# Docker
*.pid


# OS files
.DS_Store
Thumbs.db
